[submodule "pack/bundle/start/sensible"]
	path = pack/bundle/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/easymotion"]
	path = pack/bundle/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/bundle/start/hardtime"]
	path = pack/bundle/start/hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/bundle/start/nerdtree-git-plugin"]
	path = pack/bundle/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/nerdcommenter"]
	path = pack/bundle/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "pack/extend/start/YouCompleteMe"]
	path = pack/extend/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/bundle/start/auto-pairs"]
	path = pack/bundle/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/syntax/start/color_coded"]
	path = pack/syntax/start/color_coded
	url = https://github.com/jeaye/color_coded
