[submodule "pack/bundle/start/sensible"]
	path = pack/bundle/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/easymotion"]
	path = pack/bundle/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/bundle/start/hardtime"]
	path = pack/bundle/start/hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/bundle/start/nerdtree-git-plugin"]
	path = pack/bundle/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/nerdcommenter"]
	path = pack/bundle/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "pack/extend/start/YouCompleteMe"]
	path = pack/extend/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/bundle/start/auto-pairs"]
	path = pack/bundle/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/syntax/start/color_coded"]
	path = pack/syntax/opt/color_coded
	url = https://github.com/jeaye/color_coded
[submodule "pack/extend/start/tagbar"]
	path = pack/extend/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/bundle/start/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/rhubarb"]
	path = pack/bundle/start/rhubarb
	url = git://github.com/tpope/vim-rhubarb.git
[submodule "pack/bundle/start/airline"]
	path = pack/bundle/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "custom/onehalf"]
	path = custom/onehalf
	url = https://github.com/sonph/onehalf
[submodule "pack/bundle/start/devicons"]
	path = pack/bundle/opt/devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/bundle/start/unimpaired"]
	path = pack/bundle/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
